body {
    background: url(./ugly.jpeg) fixed center center/cover;
}

html {
    font-family: 'Times New Roman', Times, serif;
}

img {
    padding: 2px;
    display: block;
    width: 25%;
    border-radius: 5%;
}

.intro {
    float: left;
    margin-top: 1%;
    width: 35%;
    padding: 20px;
}

.Experience {
    float: right;
    margin-top: 1%;
    width: 40%;
    padding: 20px;
}